.component {
  width: 50rem;
}

.repo {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows:
    auto /* organization */
    auto /* repository */
    auto /* GitHub URL */;

  align-items: center; /* do not expand input height */
  column-gap: 1rem;
  row-gap: 1rem;

  margin-bottom: 40px;
}

.lower {
  display: grid;

  grid-template-columns: 15rem 1fr;
  grid-template-rows:
    auto /* branch */
    auto /* filepath */
    1fr; /* commits */

  align-items: center; /* do not expand input height */
  column-gap: 1rem;
  row-gap: 1rem;
}

.label {
  text-align: right;
}

.input {
  padding: 8px;
}

.grey {
  color: grey;
}

.top {
  align-self: flex-start;
  padding-top: 4px;
}

.commits {
  align-self: start;
}

.hash {
  margin-left: 1rem;
  margin-right: 1rem;

  font-family: "Courier New", Courier, monospace;
}
