.component {
  display: grid;
  width: 50rem;

  grid-template-columns: 15rem 1fr;
  align-items: center; /* do not expand input height */
  column-gap: 1rem;
  row-gap: 1rem;
}

.label {
  text-align: right;
}

.input {
  padding: 8px;
}

.grey {
  color: grey;
}

.top {
  align-self: flex-start;
  padding-top: 4px;
}

.commits {
  height: 50rem;
  background-color: grey;
}
